
.btn {
  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
  border-width: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-primary {
  background-color: rebeccapurple;
  color: white;
}

.btn-primary:hover {
  background-color: blueviolet;
  color: yellow;
}

.btn-secondary {
  background-color: transparent;
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
}

.btn-secondary:hover {
  background-color: blueviolet;
  border-color: blueviolet;
  color: yellow;
}

